<div class="d-flex justify-content-between mb-3">
  <div>
    <i class="fa fa-home"></i> Fach
  </div>
</div>
<div class="th-background"></div>
<table>
  <colgroup>
    <col>
    <col style="width: 100px">
    <col style="width: 100px">
  </colgroup>
  <thead>
  <tr>
    <th>Fach</th>
    <th>Aufrufe</th>
    <th>Posts</th>
  </tr>
  </thead>
  <div class="mt-2"></div>
  <tbody>
  <tr *ngFor="let subject of subjects" (click)="handleClickSubject(subject.subject_id, subject.subject_title)">
    <td>
      <div class="subject-title">
        {{subject.subject_title}}
      </div>
      <div class="last-update">
        Letztes Update : 17.03.2020
      </div>
    </td>
    <td>
      {{subject.views}}
    </td>
    <td>
      {{subject.counts}}
    </td>
  </tr>
  </tbody>

</table>

<div class="mt-3 text-center" *ngIf="subjects && subjects.length === 0">No subjects found</div>

<button *ngIf="currentUser.user.role !== 'student'" mat-raised-button class="custom-primary-btn mt-5 mb-5" (click)="addSubject()">Neues Thema</button>
