<div class="d-flex justify-content-between mb-2 ml-3 mr-3">
  <div (click)="goToCloudHome()" class="cursor-pointer">
    <img src="assets/images/cloud-logo.png" alt="cloud-logo" height="30">
  </div>
</div>

<div class="title-div">
  Klassencloud
</div>

<div class="cloud-container">
  <app-cloud-file-list [file_lists]="file_lists" cloud_type="global"></app-cloud-file-list>
</div>


