<p>Bitte geben Sie die Email Adresse des Empfängers ein</p>
<mat-form-field class="w-100">
  <mat-label>Email</mat-label>
  <input matInput [formControl]="myFormControl">
  <mat-error *ngIf="myFormControl.hasError('required')">
    <strong>Pflichtfeld</strong>
  </mat-error>
</mat-form-field>
<div class="mt-2 text-right">
  <button mat-raised-button class="mr-2" (click)="onNoClick()">Abbrechen</button>
  <button mat-raised-button class="custom-primary-btn" (click)="addValue()">Senden</button>
</div>
