:host {
  display: block;
  position: relative;
  padding: 20px;
}

#header {
  background-color: transparent;
  color: #ffffff;
}
#header_img {
  max-width: 200px;
  margin-right: 10px;
  margin-top: 10px;
  height: 60px;
}

#version {
  position: absolute;
  right: 5px;
  font-size: 16px;
}

#section1 {
  height: calc(100vh - 300px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

#ov_info {
  color: #ffffff;
}
#ov_img {
  max-width: 50%;
  margin: auto;
}
#card_content {
  height: 50%;
}

#room_card {
  color: #303030;
  position: inherit;
  max-width: 900px;
  width: 75%;
  margin: auto;
  box-shadow: 0 0 15px 7px #dddddd;
  padding-top: 30px;
  padding-bottom: 30px;
  /*background: rgba(221, 221, 221, 0.856);*/
}

#room_card h3 {
  font-family: Montserrat-Light;
}

#room_card mat-form-field {
  margin: auto;
  padding: 0px 5px;
}
@media (max-width: 700px) {
  #header_img {
    visibility: hidden;
  }
  #ov_img {
    max-width: 65%;
  }
}

.room-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;

}

.room-container mat-card {
  box-shadow: 0 0 8px 5px #e9e9e9;
  margin-bottom: 20px;
  color: #00457d;
  cursor: pointer;
}

.room-container mat-card mat-icon {
  vertical-align: middle;
}

.room-container mat-card a:hover {
  text-decoration: none;
}

.add-room-input-div {
  width: calc(100% - 150px);
  float: left;
}

.add-room-btn-div {
  width: 150px;
  float: left;
  text-align: right;
  padding-top: 15px;
}
