<div  class="calendar-container">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn custom-primary-btn"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Bisherige
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Heute
        </div>
        <div
          class="btn custom-primary-btn"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Nächster
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn custom-primary-btn"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Monat
        </div>
        <div
          class="btn custom-primary-btn"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Woche
        </div>
        <div
          class="btn custom-primary-btn"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Tag
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>

<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<br /><br /><br />


<div class="d-flex justify-content-between pl-2 pr-3">
  <h3>
    Ereignisse bearbeiten
  </h3>
  <div>
    <button mat-raised-button class="custom-primary-btn" (click)="addEvent()">
      Neue hinzufügen
    </button>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Titel</th>
      <th>Primär Farbe</th>
      <th>Secondary color</th>
      <th>SSekundäre Farbe</th>
      <th>Endet am</th>
      <th>Entfernen</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let event of events">
      <td>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="event.title"
          (ngModelChange)="updateEvent(event.id, 'event_title', event.title)"
        />
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="event.color.primary"
          (ngModelChange)="updateEvent(event.id, 'primary_color', event.color.primary)"
        />
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="event.color.secondary"
          (ngModelChange)="updateEvent(event.id, 'secondary_color', event.color.secondary)"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="event.start"
          (ngModelChange)="updateEvent(event.id, 'start_at', event.start)"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Nicht festgelegt"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="event.end"
          (ngModelChange)="updateEvent(event.id, 'end_at', event.end)"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Nicht festgelegt"
        />
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteEvent(event)">
          Löschen
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Ereignisaktion aufgetreten</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Aktion:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Veranstaltung:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
