:host {
  margin-top: 15px;
  display: block;
}

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.calendar-container {
  margin: 0 15px;
}

.btn-group .btn:hover {
  color: white;
}
