<label>{{securityQuestions[nthAnswer]}}</label>
<mat-form-field class="w-100">
  <input matInput placeholder="Antwort" [(ngModel)]="answer" required>
  <mat-error>
    Pflichtfeld
  </mat-error>
</mat-form-field>
<div class="alert alert-danger text-center" *ngIf="error">
  {{error}}
</div>
<div class="mt-2 text-right">
  <button mat-raised-button class="custom-primary-btn" (click)="confirm()">Bestätigen</button>
</div>
