<div class="d-flex justify-content-between mb-3">
  <div>
    <a routerLink="/home/forum/subject"><i class="fa fa-home"></i> Fach</a> / {{subject_title}}
  </div>
  <div>
    <a href="javascript:void(0)" (click)="back()"><i class="fa fa-arrow-left"></i> Zurück</a>
  </div>
</div>
<div class="th-background"></div>
<table>
  <colgroup>
    <col>
    <col style="width: 100px">
    <col style="width: 100px">
    <col style="width: 100px">
  </colgroup>
  <thead>
  <tr>
    <th>{{subject_title}}</th>
    <th>Autor</th>
    <th>Aufrufe</th>
    <th>Posts</th>
  </tr>
  </thead>
  <div class="mt-2"></div>
  <tbody>
  <tr *ngFor="let sub_topic of sub_topics" (click)="handleClickSubTopic(sub_topic.sub_topic_id, sub_topic.sub_topic_title)">
    <td>
      <div class="subject-title">
        {{sub_topic.sub_topic_title}}
      </div>
      <div class="last-update">
        Letztes Update : 17.03.2020
      </div>
    </td>
    <td>
      {{sub_topic.nickname}}
    </td>
    <td>
      {{sub_topic.views}}
    </td>
    <td>
      {{sub_topic.counts}}
    </td>
  </tr>
  </tbody>

</table>

<div class="mt-3 text-center" *ngIf="sub_topics && sub_topics.length === 0">Keine Unterthemen gefunden</div>

<button mat-raised-button class="custom-primary-btn mt-5 mb-5" (click)="addSubTopic()">Neues Unterthema</button>
