<h4>Bitte Sicherheitsfragen für späteres Passwort Zurücksetzen beantworten</h4>
<form [formGroup]="securityForm" (ngSubmit)="confirm()">

  <label>Was ist / war der Name von Deinem Lieblingsbuch?</label>
  <mat-form-field class="w-100">
    <input matInput placeholder="Antwort" formControlName="firstForm" required>
    <mat-error>
      Pflichtfeld
    </mat-error>
  </mat-form-field>

  <label>Was ist / war der Name des ersten Haustiers?</label>
  <mat-form-field class="w-100">
    <input matInput placeholder="Antwort" formControlName="secondForm" required>
    <mat-error>
      Pflichtfeld
    </mat-error>
  </mat-form-field>

  <label>Was ist / war der Name von Deinem Lieblingsfilm?</label>
  <mat-form-field class="w-100">
    <input matInput placeholder="Antwort" formControlName="thirdForm" required>
    <mat-error>
      Pflichtfeld
    </mat-error>
  </mat-form-field>

</form>
<div class="mt-2 text-right">
  <button mat-raised-button class="custom-primary-btn" (click)="confirm()">Jetzt loslegen!</button>
</div>
