<p>Bitte Benutzernamen eingeben, um PW zurück zu setzen, welcher sich aus dem ersten Buchstaben Ihres Vornamens gefolgt von einem Punkt und Ihrem gesammten Nachnamen zusammensetzt.</p>
<mat-form-field class="w-100">
  <mat-label>Username</mat-label>
  <input matInput [formControl]="myFormControl">
  <mat-error *ngIf="myFormControl.hasError('required')">
    Pflichtfeld
  </mat-error>
</mat-form-field>
<div class="alert alert-danger text-center" *ngIf="error">
  {{error}}
</div>
<div class="mt-2 text-right">
  <button mat-raised-button class="mr-2" (click)="onNoClick()">Abbrechen</button>
  <button mat-raised-button class="custom-primary-btn" (click)="addValue()">Bestätigen</button>
</div>
