<div class="title-div">
  Antwort erstellen - {{post_title}}
</div>

<div class="main-create-content">

  <angular-editor [placeholder]="'Text eingeben...'" [(ngModel)]="htmlContent" [config]="editorConfig"></angular-editor>

  <div class="mt-4">
    <span class="attachments-span" (click)="fileInput.click()">Anhänge</span> | <span class="text-secondary">Du kannst einfach mit der Maus Dateien in das untere blaue Feld ziehen.</span>
  </div>

  <div class="file-upload-container">
    <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
      <input hidden type="file"  #fileInput (change)="uploadFile($event.target.files)" multiple="multiple">
    </div>
    <div  class="files-list" *ngFor="let file of files;let i= index">
      <p> {{ file.name }} </p>
      <button class="delete-file" (click)="deleteAttachment(i)">
        <img src="assets/images/delete.png">
      </button>
    </div>
  </div>

  <div class="custom-divider"></div>

  <button mat-raised-button class="mr-2" (click)="back()">Abbrechen</button>
  <button mat-raised-button class="custom-primary-btn mt-4 mb-3" (click)="createReply()">Antwort erstellen</button>
</div>
