:host {
  font-family: Montserrat-Light;
  margin-top: 15px;
  display: block;
  color: #00457d;
}

.main-create-content {
  padding: 15px;
  max-width: 1000px;
}

.custom-divider {
  border-bottom: 2px solid #14537d;
  padding-top: 20px;
}

.attachments-span {
  cursor: pointer;
}

// file upload

.uploadfilecontainer {
  background-image: url("../../../../../assets/images/cloud-2044823_960_720.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 200px;
  width: 100%;
  margin: 20px auto;
  border: 2px dashed #1C8ADB;
  border-radius: 10px;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 30px;
}
