<div>
  <div class="header">
    <div class="header-title-container" (click)="goToHome()">
      <img src="assets/images/logo.png" alt="logo">
      School up <span class="isDesktopNotMobile"> - eLearning Plattform - </span>
    </div>
    <div *ngIf="currentUser" (click)="logout()" class="logout-container">
      <div>
        <button mat-flat-button class="logout-btn">
          <img src="assets/images/logout.png" alt="logout" class="mr-1">
          <span class="isDesktopNotMobile">Logout <span *ngIf="currentUser.user.nickname">{{'(' + currentUser.user.nickname + ')'}}</span></span>
        </button>
      </div>
    </div>
  </div>
  <div class="sub-header">
    Georg Simon Ohm Gmynasium
  </div>
</div>


<router-outlet></router-outlet>
