::ng-deep .mat-simple-snackbar-action .mat-button-wrapper {
  color: white;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 0 0.7em 0;}


::ng-deep .mat-form-field-flex .mat-form-field-outline .mat-form-field-outline-start {
  border: 1px solid #14537d!important;
  border-right-color: transparent!important;
}

::ng-deep .mat-form-field-flex .mat-form-field-outline .mat-form-field-outline-end {
  border: 1px solid #14537d!important;
  border-left-color: transparent!important;
}

//::ng-deep .mat-form-field-label-wrapper { top: -1.0em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

::ng-deep .mat-tab-body-content {
  padding: 5px 0;
}

::ng-deep .mat-tab-label {
  font-family: Montserrat-Light;
}

::ng-deep .mat-ink-bar {
  background-color: #00457D!important;
}

::ng-deep .mat-checked .mat-slide-toggle-bar {
  background-color: #44627d !important;
}

::ng-deep .mat-slide-toggle-thumb {
  background-color: #00457D!important;
}

::ng-deep .mat-focused .mat-form-field-underline {
  background-color: #00457D!important;
}

::ng-deep .mat-form-field-label .ng-star-inserted {
  color: #00457D!important;
}

