<div class="auth-container">
  <div class="auth-sub-container">
    <div class="auth-title">
      Login
    </div>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="input-container">
        <img src="assets/images/user.png" alt="user">
        <mat-form-field appearance="outline" class="input-field">
          <input class="font-raleway-light" matInput placeholder="User Name" formControlName="username" required>
          <mat-error>
            <strong class="font-raleway-light">Pflichtfeld</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input-container">
        <img src="assets/images/password.png" alt="password">
        <mat-form-field appearance="outline" class="input-field">
          <input type="password" class="font-raleway-light" matInput placeholder="Password" formControlName="password" required>
          <mat-error>
            <strong class="font-raleway-light">Pflichtfeld</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="alert alert-danger alert-div" *ngIf="error">{{error}}</div>
      <button mat-raised-button class="custom-primary-btn submit-btn">EINLOGGEN</button>
    </form>
    <div class="text-center mt-3">
      <a href="javascript:void(0)" class="forgot-password" (click)="openConfirmUsernameDialog()">
        - Passwort vergessen -
      </a>
    </div>
  </div>
</div>
