.input-container {
  img {
    width: 35px;
    vertical-align: middle;
    margin-right: 15px;
  }
  .input-field {
    width: calc(100% - 50px)
  }
}

.submit-btn {
  margin-left: 50px;
  width: calc(100% - 50px);
  font-size: 18px;
  padding: 5px;
}

.alert-div {
  margin-left: 50px;
  width: calc(100% - 50px);
}

@media only screen and (max-width: 768px) {

}
