<p class="font-weight-bold">Bitte laden Sie Ihre Excel Liste aller Schülern hoch.</p>
<div class="upload-file-container d-flex align-items-center justify-content-between">
  <div>
    <input type="file" (change)="onFileChange($event)" />
  </div>
  <div>
    <button mat-raised-button class="ml-3 custom-primary-btn" (click)="addBulkUsers()" [disabled]="isEmptyFile">
      <mat-icon>playlist_add_check</mat-icon>
      Hochladen
    </button>
  </div>
</div>
<hr>
<p class="text-center" *ngIf="loading">
  <img src="assets/images/loading.gif" width="30" height="30" alt="loading">
</p>
<div class="alert alert-info text-center" *ngIf="isSuccess">
  Ihre Schüler wurden erfolgreich hinzugefügt
</div>
<div class="d-block text-right">
  <button mat-raised-button type="button" class="custom-primary-btn" (click)="onNoClick()">Schließen</button>
</div>
