<div mat-dialog-content>
  <form [formGroup]="editForm" (ngSubmit)="editUser()">
    <mat-form-field class="w-100">
      <input matInput placeholder="Vorname" formControlName="first_name" required>
      <mat-error *ngIf="submitted && f.first_name.hasError('required')">
        This field is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Nachname" formControlName="last_name" required>
      <mat-error *ngIf="submitted && f.last_name.hasError('required')">
        This field is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input type="date" matInput placeholder="Birthday" formControlName="birthday" required>
      <mat-error *ngIf="submitted && f.birthday.hasError('required')">
        This field is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="NickName" formControlName="nickname">
      <mat-error *ngIf="submitted && f.nickname.hasError('required')">
        This field is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Klasse" formControlName="class" required>
      <mat-error *ngIf="submitted && f.class.hasError('required')">
        This field is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" *ngIf="authService.currentUserValue.user.role === 'admin'">
      <mat-label>Rolle</mat-label>
      <mat-select formControlName="roles">
        <mat-option *ngFor="let role of role_lists" [value]="role.value">{{role.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="submitted && f.roles.hasError('required')">
        This field is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="d-block text-right pt-3">
      <button mat-raised-button class="mr-2" type="button" (click)="onNoClick()">Abbrechen</button>
      <button mat-raised-button class="custom-primary-btn" cdkFocusInitial>
        &nbsp;&nbsp;Hinzufügen&nbsp;&nbsp;
      </button>
    </div>
  </form>
</div>

