<form [formGroup]="form" (ngSubmit)="confirm()">
  <mat-form-field class="w-100">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password">
    <mat-error>
      Pflichtfeld
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Confirm Password</mat-label>
    <input type="password" matInput formControlName="cpassword">
    <mat-error>
      Pflichtfeld
    </mat-error>
  </mat-form-field>
  <div class="alert alert-danger text-center" *ngIf="error">
    {{error}}
  </div>
  <div class="mt-2 text-right">
    <button mat-raised-button class="custom-primary-btn">Bestätigen</button>
  </div>
</form>


