<div class="message-box-header">
  <div>
    <img src="assets/images/chat-default-user.jpg" class="rounded-circle" alt="user">
  </div>
  <div class="user-name">
    {{selectedRoom.chatRoomTitle}}
  </div>
</div>
<div class="box-container">

  <div id="message-box-content">

    <div *ngFor="let messageList of messageLists" [ngClass]="messageList.sender_user_id === currentUser.user_id ? 'send-box-container' : 'receive-box-container'">
      <div *ngIf="messageList.sender_user_id !== currentUser.user_id">
        <img src="assets/images/chat-default-user.jpg" class="rounded-circle" alt="user">
      </div>
      <div class="message-box">
        {{messageList.message}}
      </div>
    </div>

    <div *ngIf="messageLists.length === 0" class="p-5 text-center">
      No messages
    </div>

  </div>

  <div class="typing-box-container">
    <div class="typing-box-div">
      <div id="ta-frame">
        <textarea rows="1" matInput placeholder="Type a message" [(ngModel)]="typingMessage" (keypress)="handleTypingMessage($event)"></textarea>
      </div>
      <div class="icon-div">
        <button mat-icon-button>
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>

</div>


