.message-box-header {
  padding: 15px;
  display: flex;
  border-bottom: 1px solid #d6d6d6;
  img {
    width: 50px;
  }
  .user-name {
    display: flex;
    align-items: center;
    padding-left: 15px;
  }
}

.box-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 85px);
}

#message-box-content {
  padding: 0 15px;
  overflow: auto;
  height: 100%;
  .receive-box-container {
    margin: 10px 0;
    display: flex;
    img {
      width: 40px;
      margin-right: 10px;
    }
    .message-box {
      background-color: #F2F6F9;
    }
  }
  .send-box-container {
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
    .message-box {
      background-color: #DBF4FD;
    }
  }
  .message-box {
    padding: 10px;
    border-radius: 6px;
  }
}

.typing-box-container {
  width: 100%;
  padding: 10px 15px;
  .typing-box-div {
    display: flex;
    width: 100%;
    background-color: #F1F1F4;
    border-radius: 20px;
    #ta-frame {
      height: 20px;
      width: 100%;
      textarea {
        background-color: #F1F1F4;
        border: 1px solid #F1F1F4;
        resize: none;
        border-radius: 20px;
        width: 100%;
        padding: 8px 15px;
        overflow: hidden;
      }
    }
    .icon-div {
      background-color: #F1F1F4;
      border-radius: 20px;
      width: 50px;
      display: flex;
      align-items: center;
    }
  }
}

