<div class="cloud-home-container">
  <div class="d-flex justify-content-center drive-box-container">
    <div class="drive-box" (click)="goToMyCloud()">
      <div>
<!--        <img src="assets/images/my-drive.png" alt="my-drive">-->
        <i class="fa fa-user"></i>
      </div>
      <div class="title">
        Meine persönliche Cloud
      </div>
      <div class="sub-title">
        -Nur für mich sichtbar-
      </div>
    </div>
    <div class="drive-box" (click)="goToPublicCloud()">
      <div>
<!--        <img src="assets/images/public_drive.svg" alt="public-drive">-->
        <i class="fa fa-users"></i>
      </div>
      <div class="title">
        Klassen Cloud
      </div>
      <div class="sub-title">
        -Sichtbar für jeden in meiner Klasse-
      </div>
    </div>
  </div>
</div>
