.cloud-home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 300px);
}

.drive-box-container {
  .drive-box {
    font-size: 66px;
    cursor: pointer;
    margin: 30px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    padding: 20px 40px;
    color: #00457d;
    img {
      width: 150px;
    }
    .title {
      margin-top: 10px;
      font-size: 22px;
      font-weight: bold;
    }
    .sub-title {
      font-size: 16px;
    }
  }
  .drive-box:hover {
    background-color: #eeeeee;
  }
}

@media only screen and (max-width: 768px) {
  .cloud-home-container {
    height: calc(100vh - 200px);
  }
  .drive-box-container {
    .drive-box {
      font-size: 48px;
      cursor: pointer;
      margin: 10px;
      border: 1px solid #505050;
      border-radius: 8px;
      text-align: center;
      padding: 15px 20px;
      img {
        width: 80px;
      }
      .title {
        margin-top: 8px;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .drive-box:hover {
      background-color: #e1e1e1;
    }
  }
}
