<nav mat-tab-nav-bar>
  <a mat-tab-link
     class="tab-a {{link.label}} {{currentUser.user.role}}"
     *ngFor="let link of navLinks"
     [routerLink]="link.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive"
  >
  {{link.label}}
  </a>
</nav>
<router-outlet></router-outlet>
