<label id="example-radio-group-label">Wie möchten Sie die Datei oder den Ordner teilen?</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="selectedItem">
  <mat-radio-button class="example-radio-button" *ngFor="let selection of selections" [value]="selection.value">
    {{selection.title}}
  </mat-radio-button>
</mat-radio-group>

<div class="mt-2 text-right">
  <button mat-raised-button class="mr-2" (click)="onNoClick()">Abbrechen</button>
  <button mat-raised-button class="custom-primary-btn" (click)="confirm()">Bestätigen</button>
</div>
