:host {
  padding: 15px;
  display: block;
}

@media screen and (max-width: 768px) {
  table tr th {
    display: none;
  }

  table tr td {
    padding: 10px 15px!important;
    display: block;
    text-align: right!important;
    width: 100%!important;
  }

  table tr td:before {
    content: attr(data-label);
    float: left;
    font-size: 16px;
    color: #858585;
  }

  table tr {
    border-top: 2px solid #848484;
    border-bottom: 2px solid #848484;
  }

  mat-slide-toggle {
    display: inline-block;
  }

  .filter {
    width: 130px;
  }
}
