<div class="d-flex justify-content-between">
  <div>
    <mat-form-field class="filter">
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
    </mat-form-field>
  </div>
  <div class="d-flex align-items-center">
    <button mat-raised-button class="custom-primary-btn mr-1" (click)="addUsers()">
      <mat-icon>add</mat-icon>
      Neue Benutzer per Excel
    </button>
    <button mat-raised-button class="custom-primary-btn" (click)="addUser()">
      <mat-icon>add</mat-icon>
      Benutzer hinzufügen
    </button>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="w-100">

    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vorname </th>
      <td mat-cell *matCellDef="let element" data-label="Vorname"> {{element.first_name}} </td>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nachname </th>
      <td mat-cell *matCellDef="let element" data-label="Nachname"> {{element.last_name}} </td>
    </ng-container>

    <ng-container matColumnDef="nickname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Spitzname </th>
      <td mat-cell *matCellDef="let element" data-label="Spitzname">
        <div *ngIf="element.nickname">
          {{element.nickname}}
        </div>
        <div *ngIf="!element.nickname">
          -
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Klasse </th>
      <td mat-cell *matCellDef="let element" data-label="Klasse"> {{element.class}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rechte </th>
      <td mat-cell *matCellDef="let element" data-label="Rechte"> {{roleName[element.role]}} </td>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Geburtstag </th>
      <td mat-cell *matCellDef="let element" data-label="Geburtstag"> {{element.birthday}} </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Aktiv </th>
      <td mat-cell *matCellDef="let element" class="slide-field" data-label="Aktiv">
        <mat-slide-toggle [checked]="element.active === 1" (change)="changeSlideToggle(element.user_id, $event.checked)"></mat-slide-toggle>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Aktion </th>
      <td mat-cell *matCellDef="let element" class="action-field text-center" data-label="Aktion">
        <a href="javascript:void(0)" (click)="editUser(element.user_id)">
          <mat-icon>edit</mat-icon>
        </a>
        <a href="javascript:void(0)" (click)="confirmDialog(element.user_id)">
          <mat-icon>delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div *ngIf="dataSource.data.length === 0" class="no-records">
    No records found
  </div>

  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
