<div mat-dialog-content>
  <h4>
    {{data.alarmMessage}}
  </h4>
</div>
<div mat-dialog-actions class="confirm-dialog-action">
  <button mat-raised-button (click)="onNoClick()">Abbrechen</button>
  <button mat-raised-button class="custom-primary-btn" [mat-dialog-close]="true" cdkFocusInitial>Ja wirklich entfernen</button>
</div>
