<div class="font-weight-bold">
  Ordner:
</div>
<table class="cloud-list-table">

  <tr class="cursor-pointer" *ngFor="let folder_list of folder_lists" (click)="goToCloudFolder(folder_list.folder_id)">
    <td>
      <img src="assets/images/folder.jpg" alt="folder" height="30">
    </td>
    <td>
      <div *ngIf="!isEditing[folder_list.folder_id]">
        {{folder_list.folder_name}}
      </div>
      <div *ngIf="isEditing[folder_list.folder_id]" (click)="$event.stopPropagation()">
        <input type="text" [(ngModel)]="textField">
      </div>
    </td>
    <td class="edit-delete">
      <span *ngIf="this.cloud_type !=='global' && authService.currentUserValue.user.user_id === folder_list.user_id">
        <a *ngIf="!isEditing[folder_list.folder_id]" href="javascript:void(0)" matTooltip="umbenennen" (click)="editField($event, folder_list.folder_id)">
          <mat-icon>edit</mat-icon>
        </a>
        <a *ngIf="isEditing[folder_list.folder_id]" href="javascript:void(0)" matTooltip="speichern" (click)="saveField($event, folder_list.folder_id)">
          <mat-icon>save</mat-icon>
        </a>
        <a *ngIf="!isEditing[folder_list.folder_id]" href="javascript:void(0)" matTooltip="entfernen" (click)="deleteField($event, folder_list.folder_id)">
          <mat-icon>delete</mat-icon>
        </a>
        <a *ngIf="isEditing[folder_list.folder_id]" href="javascript:void(0)" matTooltip="cancel" (click)="cancelField($event)">
          <mat-icon>cancel</mat-icon>
        </a>
      </span>
      <a *ngIf="this.cloud_type ==='public' || this.cloud_type ==='private'" href="javascript:void(0)" matTooltip="teilen" (click)="shareFolder($event, folder_list.folder_id)">
        <mat-icon>share</mat-icon>
      </a>
    </td>
  </tr>
</table>
<div class="no-cloud" *ngIf="folder_lists && folder_lists.length === 0">
  Noch keine Ordner vorhanden...
</div>
