<div class="d-flex justify-content-between mb-3">
  <div>
    <a routerLink="/home/forum/subject"><i class="fa fa-home"></i> Fach</a> / <a href="javascript:void(0)" (click)="back()">{{subject_title}}</a> / {{sub_topic_title}}
  </div>
  <div>
    <a href="javascript:void(0)" (click)="back()"><i class="fa fa-arrow-left"></i> Zurück</a>
  </div>
</div>
<div class="th-background"></div>
<table>
  <colgroup>
    <col>
    <col style="width: 100px">
    <col style="width: 100px">
    <col style="width: 100px">
  </colgroup>
  <thead>
  <tr>
    <th>{{sub_topic_title}}</th>
    <th>Autor</th>
    <th>Aufrufe</th>
  </tr>
  </thead>
  <div class="mt-2"></div>
  <tbody>
  <tr *ngFor="let post of posts" (click)="handleClickPost(post.post_id)">
    <td>
      <div class="subject-title">
        {{post.post_title}}
      </div>
      <div class="last-update">
        Letztes Update : 17.03.2020
      </div>
    </td>
    <td>
      {{post.nickname}}
    </td>
    <td>
      {{post.views}}
    </td>
  </tr>
  </tbody>

</table>

<div class="mt-3 text-center" *ngIf="posts && posts.length === 0">Keine Posts gefunden</div>

<button mat-raised-button class="custom-primary-btn mt-5 mb-5" (click)="addPost()">Neuer Post</button>
