<div class="room-container">

  <form [formGroup]="roomForm" novalidate (ngSubmit)="addRoom()" *ngIf="currentUser.user.role !== 'student'">
    <div class="add-room-input-div">
      <mat-form-field class="w-100">
        <mat-label>Klassenzimmer Name</mat-label>
        <input matInput formControlName="roomName" placeholder="Room Name" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="add-room-btn-div">
      <button mat-raised-button class="custom-primary-btn" type="submit">
        <mat-icon>add</mat-icon>
        hinzufügen
      </button>
    </div>
    <div class="clearfix"></div>
  </form>

  <mat-card *ngFor="let chatRoom of chatRooms" (click)="joinRoom(chatRoom.room_id)">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <!--        <mat-icon class="mr-1">video_call</mat-icon>-->
        {{chatRoom.room_name}}
      </div>
      <div>
        <a href="javascript:void(0)" (click)="joinRoom(chatRoom.room_id)">
          <span class="isDesktopNotMobile mr-1">Raum betreten</span>
          <mat-icon>play_circle_filled</mat-icon>
        </a>
        <a href="javascript:void(0)" class="ml-3" (click)="shareRoom($event, chatRoom.room_id)">
          <mat-icon>share</mat-icon>
        </a>
        <a href="javascript:void(0)" class="ml-3" (click)="goToRoomCloud(chatRoom.room_id)">
          <mat-icon>cloud</mat-icon>
        </a>
        <a *ngIf="currentUser.user.role !== 'student'" class="ml-3" href="javascript:void(0)" (click)="deleteChatRoomById($event, chatRoom.room_id)">
          <mat-icon>delete</mat-icon>
        </a>
      </div>
    </div>
  </mat-card>

  <div *ngIf="chatRooms.length === 0" class="text-center p-2">
    Noch keine LIVE Klassenzimmer vorhanden.
  </div>

</div>


