/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "assets/css/common.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

//@font-face {
//  font-family: Raleway-Semibold;
//  src: url(assets/fonts/Raleway-SemiBold.ttf) format("truetype");
//}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("assets/fonts/Montserrat-Regular.ttf") format("truetype"),
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("assets/fonts/Montserrat-Light.ttf") format("truetype"),
}

button:focus, button:active:focus, button.active:focus, input:focus, select:focus, textarea:focus {
  outline: none !important;
}
