<div>
  <span class="attachments-span" (click)="fileInput.click()">Anhänge </span> | <span class="text-secondary">Du kannst einfach mit der Maus Dateien in das untere blaue Feld ziehen.</span>
</div>

<div class="file-upload-container">
  <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
    <input hidden type="file"  #fileInput (change)="uploadFile($event.target.files)" multiple="multiple">
  </div>
  <div  class="files-list" *ngFor="let file of files;let i= index">
    <p> {{ file.name }} </p>
    <button class="delete-file" (click)="deleteAttachment(i)">
      <img src="assets/images/delete.png">
    </button>
  </div>
</div>

<div class="mt-2 text-right">
  <button mat-raised-button class="mr-2" (click)="onNoClick()">Abbrechen</button>
  <button mat-raised-button class="custom-primary-btn" (click)="uploadCloud()">Jetzt Hochladen</button>
</div>
