:host {
  height: calc(100vh - 178px);
  display: block;
  //background-color: #F5F5F5;
}

.blue-back-div {
  height: 18vh;
  position: absolute;
  width: 100%;
  background-color: #1EDDBC;
}

.chat-container {
  overflow: hidden;
  width: 90%;
  height: calc(100vh - 250px);
  z-index: 100;
  position: relative;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .user-list {
    width: 300px;
    height: 100%;
    border-radius: 10px;
  }
  .message-box {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .user-list-menu {
    right: 10px;
    top: 10px;
    position: absolute;
    z-index: 100;
  }
}

.no-room-selected {
  height: calc(100vh - 250px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  img {
    width: 100px;
    padding: 15px;
  }
}
