<div class="blue-back-div"></div>
<div class="h-100 d-flex justify-content-center align-items-center">
  <div class="chat-container" (window:resize)="detectDeviceWidth()">
    <div class="isMobileNotDesktop user-list-menu" *ngIf="!opened">
      <button class="" mat-icon-button (click)="drawer.toggle();">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <mat-drawer-container class="h-100">
      <mat-drawer #drawer [mode]="mode" [opened]="opened">
        <div class="user-list">
          <app-user-list (openStatus)="onOpenStatus()" [opened]="opened"></app-user-list>
        </div>
      </mat-drawer>
      <mat-drawer-content style="border-radius: 10px">
        <div class="message-box">
          <app-message-box *ngIf="selectedRoom"></app-message-box>
          <div *ngIf="!selectedRoom" class="no-room-selected">
            <div>
              <img src="assets/images/chat-logo.png" alt="chat-logo">
              <p>Bitte ein Klassenmitglied wählen, um zu chatten.</p>
            </div>
          </div>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
