<div class="d-flex justify-content-between mb-2 ml-3 mr-3">
  <div (click)="goToCloudHome()" class="cursor-pointer">
    <img src="assets/images/cloud-logo.png" alt="cloud-logo" height="30">
  </div>
  <div>
    <a href="javascript:void(0)" (click)="back()"><i class="fa fa-arrow-left"></i> Zurück</a>
  </div>
</div>

<div class="title-div">
  <div *ngIf="cloud.status === 'public'">
    Public Cloud
  </div>
  <div *ngIf="cloud.status === 'private'">
    Own Cloud
  </div>
</div>

<div class="download-container">
  <div class="text-center">
    <img src="assets/images/download.png" alt="download" width="100">
    <div>
      {{cloud.origin_name}}
    </div>
    <button mat-raised-button class="custom-primary-btn mt-2" (click)="downloadCloud()">
      <i class="fa fa-download"></i>
      Download
    </button>
  </div>
</div>
