:host {
  display: block;
  margin-top: 15px;
  color: #00457d;
  font-family: Montserrat-Light;
}

.download-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 300px);
  a:hover {
    color: white;
    text-decoration: none;
  }
}
