:host {
  margin-top: 15px;
  padding: 0 15px;
  display: block;
  font-family: Montserrat-Light;
  color: #00457D;
}

table {
  width: 100%;
  color: #00457d;
  font-family: Montserrat-Light;
  tr {
    text-align: center;
    th {
      padding: 3px 0;
    }
    th:first-child {
      text-align: left;
    }
    td {
      padding: 8px 0;
      //border-bottom: 1px solid red;
      .subject-title {
        font-size: 16px;
        font-weight: bold;
      }
      .last-update {
        font-size: 14px;
        color: #999999;
      }
    }
    td:first-child {
      text-align: left;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid black;
      cursor: pointer;
    }
  }
  thead {
    background-color: #DAE2EA;
  }
}

.th-background {
  background-color: #DAE2EA;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 30px;
  margin: 0 -15px;
}


