<div class="th-background"></div>
<table>
  <colgroup>
    <col>
    <col style="width: 100px">
  </colgroup>
  <thead>
  <tr>
    <th>File</th>
    <th>Creator</th>
  </tr>
  </thead>
  <div class="mt-2"></div>
  <tbody>
  <tr *ngFor="let cloud_list of cloud_lists">
    <td>
      <img src="assets/images/attachment.png" alt="attachment" width="30">
      <a [href]="uploadUrl + cloud_list.file_name" target="_blank">{{cloud_list.origin_name}}</a>
    </td>
    <td>
      {{cloud_list.nickname}}
    </td>
  </tr>
  </tbody>

</table>

<div class="mt-3 text-center" *ngIf="cloud_lists && cloud_lists.length === 0">No data found</div>

<button *ngIf="currentUser.user.role !== 'student'" mat-raised-button class="custom-primary-btn mt-3" (click)="addCloud()">Open Upload Dialog</button>
