<div class="font-weight-bold">
  Dateien:
</div>
<table class="cloud-list-table">
  <tr class="cursor-pointer" *ngFor="let file_list of file_lists" (click)="goToFileDownLoad(file_list.cloud_id)">
    <td>
      <img src="assets/images/file.png" alt="folder" height="30">
    </td>


    <td>
      <div *ngIf="!isEditing[file_list.cloud_id]">
        {{file_list.origin_name}}
      </div>
      <div *ngIf="isEditing[file_list.cloud_id]" (click)="$event.stopPropagation()">
        <input type="text" [(ngModel)]="textField">
      </div>
    </td>

    <td class="edit-delete">
      <span *ngIf="this.cloud_type !=='global' && authService.currentUserValue.user.user_id === file_list.user_id">
        <a *ngIf="!isEditing[file_list.cloud_id]" href="javascript:void(0)" matTooltip="umbenennen" (click)="editField($event, file_list.cloud_id)">
          <mat-icon>edit</mat-icon>
        </a>
        <a *ngIf="isEditing[file_list.cloud_id]" href="javascript:void(0)" matTooltip="speichern" (click)="saveField($event, file_list.cloud_id)">
          <mat-icon>save</mat-icon>
        </a>
        <a *ngIf="!isEditing[file_list.cloud_id]" href="javascript:void(0)" matTooltip="entfernen" (click)="deleteField($event, file_list.cloud_id)">
          <mat-icon>delete</mat-icon>
        </a>
        <a *ngIf="isEditing[file_list.cloud_id]" href="javascript:void(0)" matTooltip="cancel" (click)="cancelField($event)">
          <mat-icon>cancel</mat-icon>
        </a>
      </span>
      <a *ngIf="this.cloud_type ==='public' || this.cloud_type ==='private'" href="javascript:void(0)" matTooltip="teilen" (click)="shareCloud($event, file_list.cloud_id)">
        <mat-icon>share</mat-icon>
      </a>
    </td>

  </tr>
</table>
<div class="no-cloud" *ngIf="file_lists && file_lists.length === 0">
  Noch keine Dateien vorhanden...
</div>
