:host {
  display: block;
}

.user-list-header {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px;
  .user-list-search-div {
    padding-top: 10px;
    .input-container {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      width: 100%;
      border-radius: 20px;
      overflow: hidden;
      border-top: 1px solid #d6d6d6;
      border-bottom: 1px solid #d6d6d6;
      border-left: 2px solid #d6d6d6;
      border-right: 2px solid #d6d6d6;
    }

    .icon {
      padding: 7px;
      background: #FAFAFA;
      color: #777E86;
      min-width: 30px;
      text-align: center;
      font-size: 13px;
    }

    .input-field {
      width: 100%;
      padding: 3px;
      font-size: 12px;
      background: #FAFAFA;
      border: 1px solid #FAFAFA;
      outline: none;
    }

    .input-field:focus {
      border: 1px solid #FAFAFA;;
    }
  }
}



.users-div {
  .user-div {
    cursor: pointer;
    padding: 15px;
    display: flex;
    border-bottom: 1px solid #d6d6d6;
    .user-info {
      display: flex;
      .user-logo {
        img {
          width: 45px;
        }
      }
      .class-room-logo {
        background-color: #EBECF0;
        border-radius: 50%;
      }
      .user-name {
        display: flex;
        align-items: center;
        padding-left: 10px;
      }
    }
    &:hover {
      background-color: #f2f2f2;
    }
  }
}
