<div class="position-relative">
  <div class="user-list-header">
    <div class="d-flex justify-content-between">
      <div>
        <i class="far fa-comment mr-1"></i>
        Chats
      </div>
      <div *ngIf="!opened">
        <button mat-icon-button (click)="handleOpenStatus()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="user-list-search-div">
      <div class="input-container">
        <i class="fa fa-search icon"></i>
        <input class="input-field" type="text" placeholder="Username" name="usrnm">
      </div>
    </div>
  </div>
</div>


<div class="users-div">
  <div class="user-div" (click)="handleClickClassRoom()">
    <div class="user-info">
      <div class="user-logo class-room-logo">
        <img src="assets/images/class-users.png" class="rounded-circle" alt="user">
      </div>
      <div class="user-name">
        Klasse
      </div>
    </div>
    <div>

    </div>
  </div>
  <div class="user-div" *ngFor="let user of userLists" (click)="handleClickUserList(user)">
    <div class="user-info">
      <div class="user-logo">
        <img src="assets/images/chat-default-user.jpg" class="rounded-circle" alt="user">
      </div>
      <div class="user-name">
        {{user.first_name + ' ' +user.last_name}}
      </div>
    </div>
    <div>

    </div>
  </div>
</div>
