:host {
  font-family: Montserrat-Light;
  margin-top: 15px;
  display: block;
  color: #00457d;
}

.p15 {
  padding: 0 15px;
}

.content-div {
  padding: 15px 15px;
  border-bottom: 2px solid #00457d;
  margin-bottom: 15px;
}

.reply-btn {
  margin-left: 15px;
}

.attachments-div {
  a {
    color: #00457d;
  }
}
