<div class="d-flex justify-content-between mb-3 p15">
  <div>
    <a routerLink="/home/forum/subject"><i class="fa fa-home"></i> Fach</a> / <a href="javascript:void(0)" (click)="doubleBack()">{{subject_title}}</a> / <a href="javascript:void(0)" (click)="back()">{{sub_topic_title}}</a> / {{post.post_title}}
  </div>
  <div>
    <a href="javascript:void(0)" (click)="back()"><i class="fa fa-arrow-left"></i> Zurück</a>
  </div>
</div>

<div class="title-div">
  {{post.post_title}} - ({{parseDate(post.created_at)}})
</div>

<div class="content-div">
  <div [innerHTML] = "post.post_content">
  </div>

  <div class="attachments-div mt-3" *ngIf="post_file_lists.length > 0">
    <div class="font-weight-bold">Attachments:</div>
    <div class="d-flex">
      <div class="mr-3" *ngFor="let post_file of post_file_lists ">
        <img src="assets/images/attachment.png" alt="attachment" width="30">
        <a [href]="uploadUrl + post_file.file_name" target="_blank">{{post_file.origin_name}}</a>
      </div>
    </div>
  </div>

</div>

<div class="reply-div"  *ngFor="let reply of replies">
  <div class="title-div">
    Re: {{post.post_title}} - ({{parseDate(reply.created_at)}})
  </div>

  <div class="content-div">
    <div [innerHTML]="reply.reply_content"></div>

    <div class="attachments-div mt-3" *ngIf="reply_file_lists[reply.reply_id].length > 0">
      <div class="font-weight-bold">Attachments:</div>
      <div class="d-flex">
        <div class="mr-3" *ngFor="let reply_file of reply_file_lists[reply.reply_id] ">
          <img src="assets/images/attachment.png" alt="attachment" width="30">
          <a [href]="uploadUrl + reply_file.file_name" target="_blank">{{reply_file.origin_name}}</a>
        </div>
      </div>
    </div>

    <div class="mt-2">
      <span class="font-weight-bold">Author:</span> {{reply.nickname}}
    </div>

  </div>

</div>


<button mat-raised-button class="custom-primary-btn reply-btn mb-3" (click)="addReply()">Antworten</button>

