<p>Bitte vergeben Sie einen Namen für das Unterthema</p>
<mat-form-field class="w-100">
  <mat-label>Name des neuen Themas</mat-label>
  <input matInput [formControl]="myFormControl">
  <mat-error *ngIf="myFormControl.hasError('required')">
    Pflichtfeld
  </mat-error>
</mat-form-field>
<div class="mt-2 text-right">
  <button mat-raised-button class="mr-2" (click)="onNoClick()">Abbrechen</button>
  <button mat-raised-button class="custom-primary-btn" (click)="addValue()">Unterthema anlegen</button>
</div>
