<div>
  <div class="header">
    <div class="header-title-container" (click)="goToHome()">
      <img src="assets/images/logo.png" alt="logo">
      Georg Simon Ohm <span class="isDesktopNotMobile">Gmynasium - Klasse 12c</span>
    </div>
  </div>
  <div class="sub-header">
    School up - eLearning Plattform -
  </div>
</div>


<router-outlet></router-outlet>
