<div class="d-flex justify-content-between mb-2 ml-3 mr-3">
  <div (click)="goToCloudHome()" class="cursor-pointer">
    <img src="assets/images/cloud-logo.png" alt="cloud-logo" height="30">
  </div>
  <div>
    <a href="javascript:void(0)" (click)="back()"><i class="fa fa-arrow-left"></i> Zurück</a>
  </div>
</div>

<div class="title-div">
  Meine persönliche Cloud
</div>

<div class="cloud-container">

  <div class="mt-1">
    <button mat-raised-button class="add-cloud-btn" (click)="addFolder()">
      <img src="assets/images/add-folder.png" alt="add-folder">
      Ordner erstellen
    </button>
    <button mat-raised-button class="add-cloud-btn ml-2" (click)="addFile()">
      <img src="assets/images/add-file.png" alt="add-file">
      Datei hinzufügen
    </button>
  </div>

  <hr>

  <app-cloud-folder-list [folder_lists]="folder_lists" cloud_type="private"></app-cloud-folder-list>

  <hr>

  <app-cloud-file-list [file_lists]="file_lists" cloud_type="private"></app-cloud-file-list>

  <hr>

</div>
