<p>Bitte vergebe Dir einen Spitznamen</p>
<mat-form-field class="w-100">
  <mat-label>Name oder Spitzname</mat-label>
  <input matInput [formControl]="nicknameFormControl">
  <mat-error *ngIf="nicknameFormControl.hasError('required')">
    Pflichtfeld
  </mat-error>
</mat-form-field>
<div class="mt-2 text-right">
  <button mat-raised-button class="custom-primary-btn" (click)="addNickName()">Jetzt loslegen!</button>
</div>
