// layout css start

.header {
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  //background-color: #00457d;
  background: linear-gradient(to right,#6f8cb1 0%,#46b6b7 50%,#1eddbc 100%);
  color: white;
  padding: 7px 15px;

  .header-title-container {
    cursor: pointer;
    img {
      width: 50px;
      vertical-align: middle;
    }
  }
  .logout-container {
    display: flex;
    align-items: center;
    font-size: 16px;
    button {
      padding-top: 7px;
      img {
        width: 25px;
        vertical-align: text-bottom;
      }
    }
  }
}

.sub-header {
  //background-color: #d9e3ec;
  background-color: #f9fbfc;
  //background: linear-gradient(to right,#6f8cb1 0%,#46b6b7 50%,#1eddbc 100%);
  color: #14537d;
  text-align: center;
  padding: 7px 15px;
  font-size: 32px;
}

.text-custom-secondary {
  color: #24607d;
}

.th-background {
  background: linear-gradient(to right,#6f8cb1 0%,#46b6b7 50%,#1eddbc 100%);
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 30px;
  margin: 0 -15px;
}


.title-div {
  background: linear-gradient(to right,#6f8cb1 0%,#46b6b7 50%,#1eddbc 100%);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 15px;
  height: 30px;
}


@media only screen and (max-width: 768px) {
  .header {
    font-size: 22px;
    .header-title-container {
      img {
        width: 40px;
      }
    }
  }
  .sub-header {
    font-size: 22px;
  }
}

// layout css end

.isMobileNotDesktop {
  display: none;
}

.isDesktopNotMobile {
  display: inline-block;
}

.auth-container {
  height: calc(100vh - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-sub-container {
  width: 40%;
  color: #14537d;
  .auth-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 5px;
  }
}

.forgot-password:hover {
  text-decoration: none;
}

.custom-primary-btn {
  //background-color: #00457D;
  background-color: #1EDDBC;
  color: white;
}

.no-records {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-bottom: 1px solid #d7d7d7;
}

a {
  color: #00457D;
}

.cursor-pointer {
  cursor: pointer;
}

// cloud css start

.cloud-container {
  padding: 10px 20px;
}

.no-cloud {
  margin: 10px 0;
}

.title-div {
  background-color: #DAE2EA;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 15px;
  height: 30px;
}

.add-cloud-btn {
  vertical-align: middle;
  img {
    height: 30px;
    vertical-align: middle;
  }
}

.cloud-box-container {
  display: flex;
  flex-wrap: wrap;
}

.cloud-box {
  text-align: center;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #c5c5c5;
  padding-bottom: 10px;
  font-size: 14px;
  img {
    height: 70px;
  }
  .folder-name-div {
    padding: 0 5px;
    overflow: hidden;
  }
}

.cloud-box-folder {
  width: 120px;
}

.cloud-box-file {
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
}

// cloud css end


.cloud-list-table {
  margin-top: 15px;
  width: 100%;
  tr {
    td:nth-child(1) {
      width: 50px;
    }
    .edit-delete {
      width: 100px;
      text-align: right;
    }
    .share {
      width: 80px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .auth-container {
    height: calc(100vh - 200px);
  }

  .isMobileNotDesktop {
    display: inline-block;
  }

  .isDesktopNotMobile {
    display: none;
  }
  .auth-sub-container {
    width: 85%;
  }
}
